.cargando{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.spinner{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgb(1, 108, 128);
    border-top: 1px solid transparent;
    
    animation: spin 1s linear infinite;
}


    @keyframes spin{
        0%{
            transform: rotate(0deg);
        }

        100%{
            transform: rotate(360deg);
        }
    }

